{% extends "base.html" %}
{% block title %}{{ survey.title }} — Details{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ survey.title }}</h2>
    <h3>{{ survey.description }}</h3>
</div>
 
{% for p in prediction %}
<a href="{% url 'student_detail' p.response.id %}" class="link" >
 <p class="card" >
    {% if p.risk_score >= 0.70 %}
        Name: {{ p.response.student.name }} <br>
         <text style="color : var(--negative)">Risk Level: High <br></text>
        Score: {{ p.risk_score }}

    {% elif p.risk_score > 0.30 %}
        Name: {{ p.response.student.name }} <br>
        <text style="color : var(--neutral)">Risk Level: Moderate <br></text>
        Score: {{ p.risk_score }}
    {% else %}
        Name: {{ p.response.student.name }} <br>
         <text style="color : var(--positive)">Risk Level: Low <br></text>
        Score: {{ p.risk_score }}
    {% endif %}
    
       
    
</p>
   </a> 
{% endfor %}

{% endblock %}